@model OGP_Portal.Service.Dtos.EntryDto
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}
@section Style{

    <style>
        .error {
            color: red !important;
        }
    </style>
}

<form id="frmEntry" asp-action="AddEditEntry" asp-controller="AdminDashboard" asp-area="Admin" method="post">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">@(Model.Id == 0 ? "Add " : "Edit ")OGP Entry</h5>
        <button type="button" id="btnclose" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
       
    </div>
    <div class="modal-body pb-0">
        <div class="accordian-block border-0">
            <div class="accordian-para acc-show p-0">

              
                <input asp-for="EntryId" type="hidden" class="form-control">
                <input asp-for="PartnerId" type="hidden" class="form-control">
                <input asp-for="OGP_Limit" type="hidden" class="form-control">
                <div class="mt-0">
                    <div class="row">
                        <div class="col-md-3 col-12">
                            <div class="form-group mb-3">
                                <label>VendorName<span class="text-danger"></span></label>
                                <input asp-for="VendorName" name="VendorName" type="text" class="form-control"  readonly/>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            @*<div class="form-group mb-3">
            <label>AsslyType<span class="text-danger">*</span></label>
            <input asp-for="AsslyType" name="AsslyType" type="number" class="form-control" min="0" max="@Model.OGP_Limit" />
            <span class="OGPLIMIT" style="display:none;">Value should less than OGP  limit</span>
        </div>*@
                            <div class="form-group">
                                <label for="exampleFormControlSelect1">Select Assembly Type</label>
                                @Html.DropDownListFor(x => x.AsslyType, ViewBag?.assylist as IEnumerable<SelectListItem>, "Select Type", new { @class = "form-control form-select", @id = "AsslyType", @Name = "AsslyType", required = "Select type" })
                            </div>

                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group mb-3">
                                <label>ShellReceipt<span class="text-danger">*</span></label>
                                <input asp-for="ShellReceipt" name="ShellReceipt" type="number" class="form-control" min="0" max="@Model.OGP_Limit" />
                                <span class="OGPLIMIT" style="display:none;">Value should less than OGP  limit</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group mb-3">
                                <label>ShellWelding<span class="text-danger">*</span></label>
                                <input asp-for="ShellWelding" name="ShellWelding" type="number" class="form-control" min="0" max="@Model.OGP_Limit" />
                                <span class="OGPLIMIT" style="display:none;">Value should less than OGP  limit</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group mb-3">
                                <label>TopD_end_Receipt<span class="text-danger">*</span></label>
                                <input asp-for="TopD_end_Receipt" name="TopD_end_Receipt" type="number" class="form-control" min="0" max="@Model.OGP_Limit" />
                                <span class="OGPLIMIT" style="display:none;">Value should less than OGP  limit</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group mb-3">
                                <label>Fabrication<span class="text-danger">*</span></label>
                                <input asp-for="Fabrication" name="Fabrication" type="number" class="form-control" min="0" max="@Model.OGP_Limit" />
                                <span class="OGPLIMIT" style="display:none;">Value should less than OGP  limit</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group mb-3">
                                <label>Sent_to_paint<span class="text-danger">*</span></label>
                                <input asp-for="Sent_to_paint" name="Sent_to_paint" type="number" class="form-control" min="0" max="@Model.OGP_Limit" />
                                <span class="OGPLIMIT" style="display:none;">Value should less than OGP  limit</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group mb-3">
                                <label>Received_after_Paint<span class="text-danger">*</span></label>
                                <input asp-for="Received_after_Paint" name="Received_after_Paint" type="number" class="form-control" min="0" max="@Model.OGP_Limit" />
                                <span class="OGPLIMIT" style="display:none;">Value should less than OGP  limit</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group mb-3">
                                <label>Readiness<span class="text-danger">*</span></label>
                                <input asp-for="Readiness" name="Readiness" type="number" class="form-control" min="0" max="@Model.OGP_Limit" />
                                <span class="OGPLIMIT" style="display:none;">Value should less than OGP  limit</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group mb-3">
                                <label>BDE_Receipt<span class="text-danger">*</span></label>
                                <input asp-for="BDE_Receipt" name="BDE_Receipt" type="number" class="form-control" min="0" max="@Model.OGP_Limit" />
                                <span class="OGPLIMIT" style="display:none;">Value should less than OGP  limit</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group mb-3">
                                <label>BDE_readiness<span class="text-danger">*</span></label>
                                <input asp-for="BDE_readiness" name="BDE_readiness" type="number" class="form-control" min="0" max="@Model.OGP_Limit" />
                                <span class="OGPLIMIT" style="display:none;">Value should less than OGP  limit</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group mb-3">
                                <label>Shell_BDE<span class="text-danger">*</span></label>
                                <input asp-for="Shell_BDE" name="Shell_BDE" type="number" class="form-control" min="0" max="@Model.OGP_Limit" />
                                <span class="OGPLIMIT" style="display:none;">Value should less than OGP  limit</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group mb-3">
                                <label>Shell_BDE_Sent_to_Paint<span class="text-danger">*</span></label>
                                <input asp-for="Shell_BDE_Sent_to_Paint" name="Shell_BDE_Sent_to_Paint" type="number" class="form-control" min="0" max="@Model.OGP_Limit" />
                                <span class="OGPLIMIT" style="display:none;">Value should less than OGP  limit</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group mb-3">
                                <label>Shell_BDE_Received_after_paint<span class="text-danger">*</span></label>
                                <input asp-for="Shell_BDE_Received_after_paint" name="Shell_BDE_Received_after_paint" type="number" class="form-control" min="0" max="@Model.OGP_Limit" />
                                <span class="OGPLIMIT" style="display:none;">Value should less than OGP  limit</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group mb-3">
                                <label>SH_BDE_TDE<span class="text-danger">*</span></label>
                                <input asp-for="SH_BDE_TDE" name="SH_BDE_TDE" type="number" class="form-control" min="0" max="@Model.OGP_Limit" />
                                <span class="OGPLIMIT" style="display:none;">Value should less than OGP  limit</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group mb-3">
                                <label>Skid_Receipt<span class="text-danger">*</span></label>
                                <input asp-for="Skid_Receipt" name="Skid_Receipt" type="number" class="form-control" min="0" max="@Model.OGP_Limit" />
                                <span class="OGPLIMIT" style="display:none;">Value should less than OGP  limit</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group mb-3">
                                <label>Installation_Skid<span class="text-danger">*</span></label>
                                <input asp-for="Installation_Skid" name="Installation_Skid" type="number" class="form-control" min="0" max="@Model.OGP_Limit" />
                                <span class="OGPLIMIT" style="display:none;">Value should less than OGP  limit</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group mb-3">
                                <label>APT<span class="text-danger">*</span></label>
                                <input asp-for="APT" name="APT" type="number" class="form-control" min="0" max="@Model.OGP_Limit" />
                                <span class="OGPLIMIT" style="display:none;">Value should less than OGP  limit</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group mb-3">
                                <label>HPT<span class="text-danger">*</span></label>
                                <input asp-for="HPT" name="HPT" type="number" class="form-control" min="0" max="@Model.OGP_Limit" />
                                <span class="OGPLIMIT" style="display:none;">Value should less than OGP  limit</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group mb-3">
                                <label>Final_Paint<span class="text-danger">*</span></label>
                                <input asp-for="Final_Paint" name="Final_Paint" type="number" class="form-control" min="0" max="@Model.OGP_Limit" />
                                <span class="OGPLIMIT" style="display:none;">Value should less than OGP  limit</span>
                            </div>
                        </div>
                        <div class="col-md-3 col-12">
                            <div class="form-group mb-3">
                                <label>Dispatch<span class="text-danger">*</span></label>
                                <input asp-for="Dispatch" name="Dispatch" type="number" class="form-control" min="0" max="@Model.OGP_Limit" />
                                <span class="OGPLIMIT" style="display:none;">Value should less than OGP  limit</span>
                            </div>
                        </div>

                    </div>


                </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">        
        <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary px-4" id="btnSave">Save</button>

    </div>


</form>


<script>
    var G_total = 0;
    var R_total = 0;
    function getTotal() {
        var  G_total = 0;
        R_total = 0;
        G_total = G_total + parseInt($("#ShellReceipt").val());
        G_total = G_total + parseInt($("#ShellWelding").val());
        G_total = G_total + parseInt($("#TopD_end_Receipt").val());
        G_total = G_total + parseInt($("#Fabrication").val());
        G_total = G_total + parseInt($("#Sent_to_paint").val());
        G_total = G_total + parseInt($("#Received_after_Paint").val());
        G_total = G_total + parseInt($("#Readiness").val());
        G_total = G_total + parseInt($("#BDE_Receipt").val());
        G_total = G_total + parseInt($("#BDE_readiness").val());
        G_total = G_total + parseInt($("#Shell_BDE").val());
        G_total = G_total + parseInt($("#Shell_BDE_Sent_to_Paint").val());
        G_total = G_total + parseInt($("#Shell_BDE_Received_after_paint").val());
        G_total = G_total + parseInt($("#SH_BDE_TDE").val());
        G_total = G_total + parseInt($("#Skid_Receipt").val());
        G_total = G_total + parseInt($("#Installation_Skid").val());
        G_total = G_total + parseInt($("#APT").val());
        G_total = G_total + parseInt($("#HPT").val());
        G_total = G_total + parseInt($("#Final_Paint").val());
        G_total = G_total + parseInt($("#Dispatch").val());

        return G_total;
    }


    $(document).on("change", "input", function () {
        getTotal();
        
        var OGP = parseInt(@Model.OGP_Limit);
        var Current = parseInt($(this).val())

        //if (Current < 0) {
        //    toastr.error("Invalid  Entry");
        //    $("#btnSave").prop("disabled", true);
        //}

     
        if (Current > OGP || getTotal() > OGP ) {
            toastr.error("Limit exceeded");
            $("#btnSave").prop("disabled", true);
        } else {
            $("#btnSave").prop("disabled", false);
        }
    });

    $(document).ready(function () {
        $("#AsslyType").prop("disabled", true);
        getTotal();
        var validationresult = $("#frmEntry").validate({
            rules: {
                "VendorName": {required: true},
                "AsslyType": { required: true},
                "ShellReceipt": { required: true},
                "ShellWelding": { required: true},
                "TopD_end_Receipt": { required: true},
                "Fabrication": { required: true},
                "Sent_to_paint": { required: true},
                "Received_after_Paint": { required: true},
                "Readiness": { required: true},
                "BDE_Receipt": { required: true},
                "BDE_readiness": { required: true},
                "Shell_BDE": { required: true},
                "Shell_BDE_Sent_to_Paint": { required: true},
                "Shell_BDE_Received_after_paint": { required: true},
                "SH_BDE_TDE": { required: true},
                "Skid_Receipt": { required: true},
                "Installation_Skid": { required: true},
                "APT": { required: true},
                "HPT": { required: true},
                "Final_Paint": { required: true},
                "Dispatch": { required: true}
            },
            messages: {
                "VendorName": { required: "Required" },
                "AsslyType": { required: "Required"},
                "ShellReceipt": { required: "Required"},
                "ShellWelding": { required: "Required"},
                "TopD_end_Receipt": { required: "Required"},
                "Fabrication": { required: "Required"},
                "Sent_to_paint": { required: "Required"},
                "Received_after_Paint": { required: "Required"},
                "Readiness": { required: "Required"},
                "BDE_Receipt": { required: "Required" },
                "BDE_readiness": { required: "Required"},
                "Shell_BDE": { required: "Required"},
                "Shell_BDE_Sent_to_Paint": { required: "Required"},
                "Shell_BDE_Received_after_paint": { required: "Required"},
                "SH_BDE_TDE": { required: "Required"},
                "Skid_Receipt": { required: "Required"},
                "Installation_Skid": { required: "Required"},
                "APT": { required: "Required"},
                "HPT": { required: "Required"},
                "Final_Paint": { required: "Required"},
                "Dispatch": { required: "Required" }
            },
            submitHandler: function (form) {
                let post_url = form.action;
                let form_data = $(form).serialize();
                $.post(post_url, form_data, function (response) {
                    toastr.success(response.message);
                    closeModal();
                    BindUserList("#dtAdminEntries");
                });
            }
        });

    });
    $("#frmEntry").on("change", "input[type='text']", function () {

        if ($(this).val() > $("#OGP_Limit").val() && $(this).attr("id") !== "VendorName") {
            $($(this).next()[0]).show();
            $("#btnSave").prop("disbaled", true);
        } else {
            $(this).next().show();
            $("#btnSave").prop("disbaled", true);
        }
    });

</script>


